<div class="container">

    <div class="row">
        <h3>GraphViz in your browser</h3>
    </div>


    <div class="row">
        <textarea class="text-input" ng-model="dotFormat"></textarea>
    </div>
    <div class="row">
        <div class="span11">
            <button ng-click="redraw()">Redraw!</button>
        </div>
        <div class="span1">
            <a href="http://www.graphviz.org/Documentation/dotguide.pdf">Documentation</a>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="center" ng-bind-html-unsafe="svg"></div>
        </div>
    </div>

    <div class="row">
        <div class="span10">

            Based on https://github.com/mdaines/viz.js/
        </div>
        <div class="span">

            Created by <a href="https://github.com/dziemid">dziemid</a>
        </div>
    </div>

</div>

